/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    /* Header */
    width: 1440px;
    height: 79px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

header div {
    /* Logo/Reservia */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;

    position: absolute;
    width: 121.09px;
    height: 79px;
    left: 0px;
    top: 0px;
}

.logo {
    /* Booki */
    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 30px;
    top: 30px;
}

nav {
    /* Menu */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    gap: 68px;
    position: absolute;
    width: 328.6px;
    height: 35px;
    right: 0.31px;
    top: 0px;
}

nav ul {
    /* Buttons */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 68px;
    width: 244px;
    height: 35px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    list-style-type: none;
}

.btn-hebergements {
    /* Btn Hébergement */
    width: 113px;
    height: 35px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-hebergements a {
    /* Hébergements */
    position: absolute;
    width: 112px;
    height: 19px;
    left: 0px;
    top: 16px;
    /* Nav/Standard */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    /* Blue */
    color: #0065FC;
}

.btn-activites {
    /* Btn Activités */
    width: 63px;
    height: 35px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn-activites a {
    /* Activités */
    position: absolute;
    width: 63px;
    height: 19px;
    left: 181px;
    top: 16px;
    /* Nav/Standard */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.bg-bar {
    /* Bg bar */
    position: absolute;
    width: 113px;
    height: 35px;
    left: 0px;
    top: 0px;
    /* Transparent */
}

.bg-bar:hover {
    /* Blue bar */
    position: absolute;
    width: 113px;
    height: 2px;
    left: 0px;
    top: 0px;
    /* Blue */
    background: #0065FC;
}

.rectangle-26 {
    /* Rectangle 26 */
    position: absolute;
    width: 63px;
    height: 35px;
    left: 181px;
    top: 0px;
    /* Transparent */
}

.rectangle-26:hover {
    /* Rectangle 25 */
    position: absolute;
    width: 63px;
    height: 2px;
    left: 181px;
    top: 0px;
    /* Blue */
    background: #0065FC;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}