/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 1440px;
}

.fa-solid {
    color: var(--main-color);
}

/****** Header ***********/

header {
    /* Header */
    width: 100%;
    height: 79px;
}

header div {
    /* Logo/Reservia */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;

    position: absolute;
    width: 121.09px;
    height: 79px;
    left: 0px;
    top: 0px;
}

.logo {
    /* Booki */
    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 30px;
    top: 30px;
}

nav {
    /* Menu */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    gap: 68px;
    position: absolute;
    width: 328.6px;
    height: 35px;
    right: 0.31px;
    top: 0px;
}

nav ul {
    /* Buttons */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 68px;
    width: 244px;
    height: 35px;

    list-style-type: none;
}

nav li:hover {
    border-top: solid 2px #0065FC;
    padding-top: 14px;
    cursor: pointer;
}

.btn-hebergements {
    /* Btn Hébergement */
    width: 113px;
    height: 35px;
}

.btn-hebergements a {
    /* Nav/Standard */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    /* Blue */
    color: #0065FC;
}

.btn-activites {
    /* Btn Activités */
    width: 63px;
    height: 35px;
}

.btn-activites a {
    /* Nav/Standard */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/****** Body ***********/

/****** Partie Info group ***********/

.info-group {
    /* Info group */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    isolation: isolate;
    width: auto;
    height: 281px;

    margin-bottom: 35px;
    margin-top: 30px;
    justify-content: center;
}

.headline {
    /* Headline */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: auto;
    height: 53px;
}

.headline h1 {
    /* Trouvez votre hébergement pour des vacances de rêve */
    width: auto;
    height: 26px;
    /* Title/Section */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;

    margin: 0px;
}

.headline h2 {
    /* En plein centre-ville ou en pleine nature */
    width: auto;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;

    margin-top: 0px;
}

/****** Partie Search Bar ***********/

.search-bar {
    /* Search-bar */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 377px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Grey */
    border: 1px solid #F2F2F2;
    border-radius: 15px;

    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.group-15 {
    /* Group 15 */
    width: 50px;
    height: 49px;

    /* Grey */
    background: #F2F2F2;
    /* Grey */
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.group-15 i::before {
    /* Vector */
    position: relative;
    width: 14px;
    height: 18px;
    left: 18px;
    top: 15px;
}

.button-search-bar {
    display: flex;
    flex-direction: row;
}

.button-search-bar input {
    /* Marseille, France */
    width: 195px;
    height: 49px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    /* Black */
    color: #000000;

    border: none;
    padding: 0px;

    cursor: pointer;
}

.button-search-bar input::placeholder {
    color: #000000;
}

.button-search-bar button {
    /* Rechercher */
    gap: 10px;
    width: 132px;
    height: 49px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* White */
    color: #FFFFFF;
    /* Blue */
    background: #0065FC;
    /* Blue */
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding: 0px 0px;
    padding: 0px;
    cursor: pointer;
}

/****** Partie Filter Bar ***********/

.filter-bar {
    /* FilterBar */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 758px;
    height: 50px;
}

.filter-bar h3 {
    /* Filtres */
    width: 54px;
    height: 21px;
    /* Title/Filter */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.filters {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15px;
}

.filter-item {
    /* Filter */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    height: 50px;
    /* Grey/Tint2 */
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filter-item span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    /* Black */
    color: #000000;

    border: none;
    background-color: transparent;
    padding: 0;
}

.filter-item:hover {
    /* Blue/Light */
    cursor: pointer;
    background: #DEEBFF;
}

.info-bar {
    /* Infobar */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;
    height: 24px;
}

.ellipse-11 {
    /* Ellipse 11 */
    position: relative;
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    /* Grey/Tint2 */
    border: 1px solid #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.info-bar p {
    /* Plus de 500 logements sont disponibles dans cette ville */
    width: 100%;
    height: 19px;
    /* Information */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
}

/****** Partie Section group ***********/

/****** General ***********/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: all 0.5s ease;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card:hover {
    cursor: pointer;
    transform:scale(1.10)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    padding: 30px;
}

.hebergements h2 {
    /* Title/Section */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;

    margin: 0;
}

.hebergements-cards {
    
    display: flex;
    gap: 30px;
    justify-content: center;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;

    flex-direction: column;
    width: 250px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    padding-top: 30px;
}

.afficher-plus h2 {
    font-size: 18px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-title h2 {
    /* Title/Section */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;

    margin: 0;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Section Activites ***********/

.section-activites {
    /* Section Activités */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    padding-bottom: 65px;
    gap: 30px;
    width: 100% - 60px;
}

.section-activites h2 {
    /* Activités à Marseille */
    height: 30.02px;
    /* Title/Section */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.frame-14 {
    /* Frame 14 */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 30px;
    width: 100%;
    height: 439px;
}

.frame-14 .card {
    /* Card */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    height: 439px;

    width: 22%;
    background-color: transparent;
}

.frame-14 .card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.frame-14 .card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 59px;
    /* White */
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.frame-14 .card .card-content .card-title {
    padding: 20px 19px;
    gap: 10px;
    margin: 0px;
}

/****** Footer ***********/

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* Grey */
    background: #F2F2F2;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;

    width: 33%;
}

footer div h3 {
    font-size: 18px;
    margin: 0px;
}

footer a {
    cursor: pointer;
    color: #000000;
}

footer p {
    margin: 0px;
}

/* Le code à masquer dans la version Desktop */
.button-search-bar i {
    display: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    header div {
        padding: 30px 50px;
    }

    .logo {
        position: relative;
        top: 0;
        left: 0;
    }

    .info-group {
        justify-content: flex-start;
        height: auto;
    }

    .filter-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;

        width: 668px;
        height: 91px;
    }

    .filter-bar h3 {
        margin: 0px;
    }
    
    .filters {
        width: 668px;
    }

    .filter-item span {
        font-size: 16px;
    }

    .info-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;

        width: 100%;
        height: 24px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .section-activites {
        height: auto;
        width: auto;
    }

    .frame-14 {
        height: auto;
    }

    .frame-14 .card {
        justify-content: flex-start;
        height: auto;
    }

    .frame-14 .card img {
        height: 200px;
    }

    .frame-14 .card .card-content .card-title {
        padding: 16px 19px;
        gap: 10px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: calc(100% - 40px);
        padding: 0px 20px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 114px;
    }

    header div {
        width: auto;
        height: auto;
        position: relative;
        padding: 30px;
    }

    header nav {
        width: calc(100% + 40px);
        position: relative;
        padding: 0px;
    }

    header nav ul {
        width: calc(100% + 40px);
        margin: 0px;
        gap: 0px;
    }

    .btn-hebergements {
        width: 50%;
        text-align: center;
    }

    .btn-activites {
        width: 50%;
        text-align: center;
    }

    nav li:hover {
        border-bottom: solid 2px #0065FC;
        border-top: solid 2px #FFFFFF;
        padding-top: 14px;
        cursor: pointer;
    }

    .info-group {
        height: 432px;
    }

    .headline {
        height: auto;
    }

    .headline h1 {
        height: auto;
        word-wrap: break-word;
    }

    .headline h2 {
        height: auto;
        margin-bottom: 0;
    }

    .search-bar {
        width: calc(100% + 20px);
    }

    .search-bar button {
        position: absolute;
        width: 49px;
        height: 49px;
        right: 20px;
        /* Blue */
        background: #0065FC;
        /* Blue */
        border: 1px solid #0065FC;
        border-radius: 15px;
        /* Hide text button */
        font-size: 0px;
    }

    .button-search-bar {
        width: calc(100% - 100px);
    }
    
    .button-search-bar i {
        display: flex;
        color: #FFFFFF;
        position: absolute;
        right: 36.5px;
        padding-top: 16.5px;
    }

    .button-search-bar input {
        width: 100%;
    }

    .filter-bar {
        width: 100%;
        height: 161px;
    }

    .filters {
        width: 100%;
        gap: 10px;
        row-gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filter-item {
        width: auto;
        padding-right: 0;
    }

    .filter-item span {
        font-size: 14px;
    }

    .info-bar {
        width: 100%;
        height: 38px;
        word-wrap: break-word;
    }

    .info-bar p {
        height: auto;
    }

    .card:hover {
        transform: scale(1);
    }

    .hebergements-and-populaires {
        width: calc(100% + 80px);
        position: relative; left: -40px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .populaires {
        order: 0;
        margin-top: 0px;
        width: 100%;
        height: 569px;
        padding: 30px 20px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .populaires-title {
        margin-bottom: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        width: auto;
        height: 468px;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 0px;
    }

    .hebergements {
        order: 1;
        width: 100%;
        background-color: #FFFFFF;
        padding: 20px;
        margin-bottom: 35px;
    }

    .hebergements-cards {
        flex-direction: column;
        height: 651.75px;
        gap: 15px;
        margin-top: 15px;
    }

    .hebergements-cards .card {
        width: 100%;
        height: 207.25;
        margin-top: 0px;
    }

    .afficher-plus {
        padding-top: 15px;
    }

    .section-activites {
        width: calc(100% - 20px);
        position: relative; left: -20px;
    }

    .section-activites h2 {
        margin: 0px;
    }

    .frame-14 {
        flex-direction: column;
        height: 845px;
        gap: 15px;
    }

    .frame-14 .card {
        width: 100%;
    }

    .frame-14 .card img {
        height: 141px;
    }

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
        width: calc(100% + 20px);
        position: relative; left: -40px;
        height: 401px;
    }

    footer div {
        padding: 0px;
        width: 100%;
    }
}