/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    /* Header */
    width: 1440px;
    height: 79px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

header div {
    /* Logo/Reservia */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;

    position: absolute;
    width: 121.09px;
    height: 79px;
    left: 0px;
    top: 0px;
}

.logo {
    /* Booki */
    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 30px;
    top: 30px;
}

nav {
    /* Menu */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    gap: 68px;
    position: absolute;
    width: 328.6px;
    height: 35px;
    right: 0.31px;
    top: 0px;
}

nav ul {
    /* Buttons */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 68px;
    width: 244px;
    height: 35px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    list-style-type: none;
}

.btn-hebergements {
    /* Btn Hébergement */
    width: 113px;
    height: 35px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-hebergements a {
    /* Hébergements */
    position: absolute;
    width: 112px;
    height: 19px;
    left: 0px;
    top: 16px;
    /* Nav/Standard */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    /* Blue */
    color: #0065FC;
}

.btn-activites {
    /* Btn Activités */
    width: 63px;
    height: 35px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn-activites a {
    /* Activités */
    position: absolute;
    width: 63px;
    height: 19px;
    left: 181px;
    top: 16px;
    /* Nav/Standard */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.bg-bar {
    /* Bg bar */
    position: absolute;
    width: 113px;
    height: 35px;
    left: 0px;
    top: 0px;
    /* Transparent */
}

.bg-bar:hover {
    /* Blue bar */
    position: absolute;
    width: 113px;
    height: 2px;
    left: 0px;
    top: 0px;
    /* Blue */
    background: #0065FC;
}

.rectangle-26 {
    /* Rectangle 26 */
    position: absolute;
    width: 63px;
    height: 35px;
    left: 181px;
    top: 0px;
    /* Transparent */
}

.rectangle-26:hover {
    /* Rectangle 25 */
    position: absolute;
    width: 63px;
    height: 2px;
    left: 181px;
    top: 0px;
    /* Blue */
    background: #0065FC;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    justify-content: center;
}

.info-group {
    /* Info group */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    isolation: isolate;
    width: 1340px;
    height: 281px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    margin-bottom: 35px;
    margin-top: 30px;
    justify-content: center;
}

.headline {
    /* Headline */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 1340px;
    height: 53px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.headline h1 {
    /* Trouvez votre hébergement pour des vacances de rêve */
    width: 1340px;
    height: 26px;
    /* Title/Section */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    margin: 0px;
}

.headline h2 {
    /* En plein centre-ville ou en pleine nature */
    width: 1340px;
    height: 19px;
    /* Footer/Link */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    margin-top: 0px;
}

.search-bar {
    /* Search-bar */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 377px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Grey */
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.group-15 {
    /* Group 15 */
    width: 50px;
    height: 49px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    /* Grey */
    background: #F2F2F2;
    /* Grey */
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.group-15 i::before {
    /* Vector */
    position: relative;
    width: 14px;
    height: 18px;
    left: 18px;
    top: 15px;
}

.button-search-bar {
    /* Button/Search/Desktop */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 132px;
    height: 49px;
    /* Blue */
    background: #0065FC;
    /* Blue */
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

    padding: 0px 0px;
    justify-content: center;
}

.button-search-bar form input {
    /* Rechercher */
    width: 100px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    /* White */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    border: none;
    background-color: #0065FC;
}

.lieu {
    /* Marseille, France */
    width: 147px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    /* Black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    border: none;
}

input::placeholder {
    color: #000000;
}

.filter-bar {
    /* FilterBar */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 758px;
    height: 50px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.filter-bar h1 {
    /* Filtres */
    width: 54px;
    height: 21px;
    /* Title/Filter */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.filter-bar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15px;
}

.filter-bar ul li {
    /* Filter */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
}

.filter-bar ul li form input {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    /* Black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    border: none;
    background-color: transparent;
    padding: 0;
}

.filter-1 {
    width: 173px;
    height: 50px;
    /* Grey/Tint2 */
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.filter-2 {
    width: 134px;
    height: 50px;
    /* Grey/Tint2 */
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.filter-3 {
    width: 170px;
    height: 50px;
    /* Grey/Tint2 */
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.filter-4 {
    width: 167px;
    height: 50px;
    /* Grey/Tint2 */
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}

.filter-bar ul li:hover {
    /* Blue/Light */
    background: #DEEBFF;
}

.info-bar {
    /* Infobar */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 1340px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
}

.ellipse-11 {
    /* Ellipse 11 */
    position: relative;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    /* Grey/Tint2 */
    border: 1px solid #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.info-bar p {
    /* Plus de 500 logements sont disponibles dans cette ville */
    width: 1306px;
    height: 19px;
    /* Information */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}